#header{
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    background-color: #c2f3ff;
    border-bottom: 2px solid;
    border-bottom-color: #003f4e;
}

#appTitle {
    margin: auto;
    width: 100%;
    text-align: center;
    color: #003f4e;
}

#profileLink {
    padding-right: 10%;
    width: 100%;
    text-align:right;
    margin: auto;
    cursor: pointer;
}

#catalogueLink {
    padding-left: 10%;
    width: 100%;
    text-align: left;
    margin: auto;
    cursor: pointer;
}