<div id="header">
    <p id = "catalogueLink" (click) = catalogueClicked()>CATALOGUE</p>
    <h4 id = "appTitle">POKEMON APP</h4>
    <p id = "profileLink" (click) = "profileClicked()">PROFILE</p>

</div>
