

<form [formGroup]="loginform" id = "loginForm">
    <div class="input-group mb-3">
        <input type="text" name ="username" id="username" formControlName = "username" class="form-control" placeholder="What's your name?" >
        <div class="input-group-append">
          <button (click) = "onLoginClicked()"class="btn " type="submit" id="loginButton">LOG IN</button>
        </div>
      </div>
      
    <div *ngIf = "username.invalid && (username.dirty || username.touched)">
        <div *ngIf = "username.errors.required">
            Username is required
        </div>

        <div *ngIf = "username.errors.minlength">
            Username must be 5 characters or more
        </div>
    </div>
</form>