#backwardButton {
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 2%;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #ff6767;

}

#forwardButton {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #00c281;
}

#buttonContainer{
    text-align: center;
}

#pokemonContainer {
    width: 80%;
    padding-left: 6%;
}

#pokemonDisplay {
    margin: 5px;
    float: left;
    width: 200px;
    height: 250px;

}