<app-header></app-header>

<div class = "container" id = "buttonContainer">
    <button type="button" (click) = "goBackward()" id = "backwardButton" class="btn btn-light">↤</button>
    <button type="button" (click) = "goForward()" id = "forwardButton" class="btn btn-light">↦</button>
</div>
<div class = "container" id = "pokemonContainer">
    <app-simple-poke-display *ngFor="let pokemon of pokemonPage" [pokemon] = "pokemon" id="pokemonDisplay"></app-simple-poke-display>
</div>


