<app-header></app-header>
<div class = "container">
    <div class="card">
        <div class="card-body">
            <h2>Hello, new trainer!</h2>
            <app-login-form></app-login-form>
        </div>
    </div>
    
</div>

