<div class="container" id = "topContainer">
    <div class="card" id = "theCardTM">
        <div class="card-header" id = "header">
            <h3 id = "pokemonName">{{pokemon.name}}</h3>
        </div>
        <div class="card-body" id = "mainCard">

            <div class="container">
                <div class = "card">
                    <div class = "card-header" id = "detailHeader">TYPES</div>
                    <ul class="list-group list-group-flush" id = "typeSubtitle">
                        <li *ngFor="let type of pokemon.types" class="list-group-item">{{type}}</li>
                    </ul>
                </div>

                <div class="card" id = "spacing">
                    <div class="card-header" id = "detailHeader"> ABILITIES</div>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let ability of pokemon.abilities" class="list-group-item">{{ability}}</li>
                    </ul>
                </div>

            </div>
            <div class="container" id = "imageContainer">
                <img id = "image" src={{pokemon.sprites}}>
            </div>
            <div class="container" id = "baseContainer">
                <div class="card">
                    <div class="card-header" id = "detailHeader">PROFILE</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> 
                                Height: {{pokemon.height}}
                            </li>
                            <li class="list-group-item">
                                Weight: {{pokemon.weight}}
                            </li>
                            <li class="list-group-item">
                                Base Experience: {{pokemon.baseExperience}}
                            </li>
                        </ul>        
                </div>
            </div>
        
            <div class="container" id = "statsContainer">
                <div class="card" >
                    <div class="card-header" id = "detailHeader">STATS</div>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let baseStat of pokemon.stats" class="list-group-item">{{baseStat.name}}: {{baseStat.stat}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer" id = "footer">
            
            <button id = "footerButton" [disabled]="collected" (click)="collectClicked()" class="btn btn-light" type="button">COLLECT</button>
        </div>
    </div>
        <div class="container" id = "moveCard" >
            <li id = "moveTitle" class="list-group-item">MOVES</li>
            <li id = "moves" *ngFor="let move of pokemon.moves" class="list-group-item">{{move}}</li>
        </div>

</div>







  