#topContainer{
    width: 100%;
}
#mainCard{
    display: flex;
    flex-direction: row;
    background-color: rgba(127, 255, 212, 0.363);
}

#header{
    text-align: center;
    background-color: rgb(73, 158, 130);
    color: white;

}


#footer{
    text-align: center;
    background-color: rgb(73, 158, 130);

}

#imageContainer {
    margin: auto;
    text-align: center;
}

#image {
    height: 270px;
}

#moveCard{
    margin-top: 30px;
    width: 60%;
    height: fit-content;
}

#width {
    width: 60%;
    text-align: center;
}

#center {
    text-align: center;
}

#moves{
    float: left;
    width: 25%;
    height: 60px;
    text-align: center;
}


#spacing {
    margin-top: 15%;
}


#detailHeader{
    background-color: black;
    color: white;
}


#moveTitle{
    text-align: center;
}

