<div class="card" (click) = "pokemonClicked()">
    <div class="card-header">
        {{pokemon.name}}
      </div>
    <div class="card-body">
      <img src={{pokemon.sprites}} class="card-img-top" alt="...">
    </div>
  </div>
  