<app-header></app-header>
<div class="container" id = "trainerContainter">
    <h1 id="trainerName">Trainer: {{trainerName}}</h1>
    <button type="button" (click)="logOut()" class="btn btn-dark" id = "logoutButton">LOG OUT</button>
</div>
<div class = "container" id = "pokemonContainer">
    <app-simple-poke-display *ngFor="let pokemon of collectedPokemon" [pokemon] = "pokemon" id="pokemonDisplay"></app-simple-poke-display>
</div>
