#pokemonContainer {
    width: 80%;
    padding-left: 6%;
}

#pokemonDisplay {
    margin: 5px;
    float: left;
    width: 200px;
    height: 250px;

}

#trainerName{
    margin-top: 30px;
    margin-bottom: 30px;

}

#trainerContainter{
    text-align: center;
    margin-bottom: 30px;
    
}